body {
  font-family: "Bitstream Vera Sans", Helvetica ,sans-serif;
  font-size: 14px;
  line-height:22px;
}

a {
  color:#0080F0;
  text-decoration:none;
}

#site {
  margin: 0 auto;
  padding: 0;
  width: 900px;
}

#body-left {
  width: 650px;
  float: left;
}

#body-right {
  width: 220px;
  float: right;
  margin-top: 18px;
}

#body-right h3 {
  font-family: monospace;
  font-size: 18px;
}

#title {
  background: transparent url(/images/header_shadow.gif) repeat-x scroll left bottom;
  height: 75px;
  margin: 0 -0.5px 12px 0;
  padding: 0;
}

#title h1 a {
/*  background:transparent url(/images/mclovin.png) no-repeat scroll 0 0; */
  background:transparent url(/images/mclovin_license.png) no-repeat scroll 0 0;
  float:left;
  height:68px;
  letter-spacing:-1px;
  line-height:normal;
  margin:0;
  width:295px;
  text-indent: -10000px;
}

#title h2 {
  float:right;
  font-size:14px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  margin:2.35em 0.2em 0 0;
  padding-top: 18px;
}

.post h1 a {
  font-family: monospace;
  color:#000000;
}

.post h1 a:hover {
  color: #808285;
}

#post h1 a {
  font-family: monospace;
  color:#000000;
}

#post h1 a:hover {
  color: #808285;
}