/* Globals */
blockquote {
  border-left: 4px solid #5979CE;
}

code {
  background-color: #5979CE;
  color: #FFF;
  text-shadow: none;
}

body {
  background-color: #E1E6FA;
}

h1, h2, h3 {
  font-family: 'montserrat', sans-serif;
  color: #384C80;
  text-shadow: 0px 1px #FFF;
}

a {
  color: #384C80;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  font-size: 1.4em;
  line-height: 1.6;
}

.meta {
  color: #5979CE;
  text-shadow: 0px 1px #FFF;
}

ul.posts {
  padding-top: 20px;
  font-size: 12px;
}

#tweet-button {
  padding: 20px 0 20px 0;
}

/* Header */
#page-header h1 {
  margin-left: -22px;
  margin-bottom: 4px;
}

#page-header h1 a {
  text-decoration: none;
}

#page-header h1 a:hover,
#page-header h1 a:visited {
  color: #1C2640;
}

#page-header .row {
  margin: 1em 0;
  border-bottom: 1px solid #135B7F;
}

#page-header .header-menu {
  margin: 0;
  padding-top: 8px;
}

.header-menu ul li a,
.header-menu ul li a:visited {
  margin-left: 20px;
  color: #135B7F;
  float: right;
  font-family: 'montserrat', sans-serif;
  text-shadow: 0px 1px #FFF;
}


.header-menu ul li a:hover {
  color: #263357;
  text-decoration: none;
}
/* Body/Posts */
#main {
  padding-top: 10px;
  min-height: 640px;
}

.post {
  padding-bottom: 30px;
}

.post h1 a {
  font-family: 'montserrat', sans-serif;
  color: #384C80;
  text-shadow: 0px 1px #FFF;
}

.post h1 a:hover {
  color: #263357;
  text-decoration: none;
}

.post p.meta {
  color: #5979CE;
  text-shadow: 0px 1px #FFF;
  font-size: 1.3em;
}

.post p,
.post ol li,
.post ul li {
  font-size: 1.4em;
  font-family: Georgia, serif;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #384C80;
  text-shadow: 0px 1px #FFF;
}

.post ul {
  list-style-type: square;
  padding-left: 20px;
}

.post p a,
.post ol li a,
.post ul li a {
  color: #5979CE;
  text-decoration: underline;
}

.post p a:hover,
.post ol li a:hover,
.post ul li a:hover {
  color: white;
  text-decoration: none;
  background-color:#5979C9;
  text-shadow: none;
}

.post code {
  font-size: 0.7em;
  line-height: 1.6;
}

.post img.screenshot {
  border: 3px solid rgb(73, 230, 0);
  margin-bottom: 20px;
}

.post ol li,
.post ul li {
  font-size: 1.4em;
  line-height: 1.6;
}

/* Sidebar */

ul.sidebar-menu {
  margin-right: 55px;
  padding-top: 4px;
}

ul.sidebar-menu li {
  text-align: right;
  text-transform: uppercase;
  color: #384C80;
  font-size: 14px;
  text-shadow: 0px 1px #FFF;
}

ul.sidebar-menu li.separator {
  padding-bottom: 20px;
}

ul.sidebar-menu li a {
  color: #384C80;
}

ul.sidebar-menu li.meta-role a {
  text-decoration: underline;
}

ul.sidebar-menu li.meta-role a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #384C80;
  text-shadow: none;
}

#default-container {
  margin: 0 auto;
}

/* Archives */
.posts-summary .meta {
  font-family: Georgia, serif;
  font-size: 18px;
}

.posts-summary li {
  text-shadow: 1px 0 #fff;
}

.posts-summary li a {
  color: #384C80;
}

