.meta {
  color: #888;
  font-size: 1.3em;
}

.post {
  padding-bottom: 30px;
}

.post p {
  font-size: 1.4em;
  font-family: Georgia, serif;
  line-height: 1.6;
  margin-bottom: 16px;
}

.post h1 a {
  color: #434343;
}

.post h1 a:hover {
  color: #333;
  text-decoration: none;
}

ul.archives {
  margin-top: 20px;
}

ul.sidebar-menu {
  margin-right: 80px;
  padding-top: 25px;
}

ul.sidebar-menu li {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}

ul.sidebar-menu li a {
  color: #434343;
}

ul.sidebar-menu li a:hover {
  color: #333;
}

ul {
  list-style: none;
  margin-left: 0;
}

ul li {
  font-size: 1.4em;
  line-height: 1.6;
}

span.date {
  font-family: Georgia, serif;
}

ul.posts {
  padding-top: 20px;
  font-size: 12px;
}

#tweet-button {
  padding: 20px 0 20px 0;
}