---
layout: default
title: All of McLovin's Ramblings
section: writing
---

<div class="archives">
  {% for post in site.posts %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
      {% if year %}
      </ul>
      {% endif %}
      <h4>{{ currentyear }}</h4>
      <hr/>
      <ul class="posts-in-year">
      {% capture year %}{{currentyear}}{% endcapture %} 
    {% endif %}
      <li>{{ post.date | date: "%B %d" }} &mdash; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
