<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Arun Thampi" />
   <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="site">
  <div id="title">
    <h1><a href="/">mclov.in</a></h1>
    <div id="header_links">
      <div class="header_link"><a href="/">Home</a></div>
      <div class="header_link" id="tw"><a href="http://twitter.com/iamclovin">Twitter</a></div>
      <div class="header_link" id="ff"><a href="http://friendfeed.com/arunthampi">FriendFeed</a></div>
      <div class="header_link" id="gh"><a href="http://github.com/arunthampi">GitHub</a></div>
      <div class="header_link" id="em"><a href="mailto:arun.thampi@gmail.com">Email</a></div>
    </div>
  </div>
  
  <div id="body-left">
    {{ content }}
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15239313-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
