<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Arun Thampi" />
   <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="site">
  <div id="title">
    <h1><a href="/">mclov.in</a></h1>
    <h2>About | Archives | Twitter | FriendFeed | GitHub | Email</h2>
  </div>
  
  <div id="body">
    {{ content }}
  </div>
  
</div>

</body>
</html>
