<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Arun Thampi" />
   <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

   <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/css/globals.css" media="screen" rel="stylesheet" type="text/css" />
   <link rel="alternate" type="application/atom+xml" title="McLovin - Atom" href="http://feeds.feedburner.com/mclovin" />
   <meta name="verify-v1" content="H2MobDzY8glD+MCbudtHDX3ln0Q8MZLhA6Qwvyv2AdE=" />
   <meta name="readability-verification" content="RL87EAnQR3FYeKby5NmXNw2URcpNF7PtXVdxZQa5"/>
</head>
<body>

<div class="container" id="page-header">
  <div class="row">
    <div class="span4">
      <h1><a href="/">mclov.in</a></h1>
    </div>
    <div class="span12 header-menu">
      <ul>
        <li><a href="http://feeds.feedburner.com/mclovin">feed</a></li>
        <li><a href="/archives.html">archives</a></li>
        <li><a href="/work.html">work</a></li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="main">
  <section id="default">
    <div class="row">
      <div class="span4" id="about">
        <ul class="sidebar-menu">
          <li class="meta-author">By <strong>Arun Thampi</strong></li>
          <li class="meta-role separator">I help build <a href="https://www.action.io">action.io</a></li>

          <li><a href="mailto:arun.thampi@gmail.com">E-Mail</a></li>
          <li><a href="https://github.com/arunthampi">Github</a></li>
          <li><a href="http://instagram.com/iamclovin">Instagram</a></li>
          <li><a href="http://twitter.com/iamclovin">Twitter</a></li>
        </ul>
      </div>

      <div class="span12">
        {{ content }}
      </div>

    </div>
  </section>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15239313-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/mclovinsblog/get_num_replies.js' + query + '"></' + 'script>');
  })();
//]]>
</script>

</body>
</html>
