<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Arun Thampi" />
   <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="McLovin - Atom" href="http://feeds.feedburner.com/mclovin" />
</head>
<body>

<div id="site">
  <div id="title">
    <h1><a href="/">mclov.in</a></h1>
    <h2><a href="/archives.html">Archives</a> | <a href="http://www.twitter.com/iamclovin" target="_blank">Twitter</a> | <a href="http://www.frienfeed.com/arunthampi" target="_blank">FriendFeed</a> | <a href="http://www.github.com/arunthampi">GitHub</a> | <a href="mailto:arun.thampi@gmail.com">Email</a></h2>
  </div>
  
  <div id="body-left">
    {{ content }}
  </div>
  
  <div id="body-right">
    <h3>About</h3>
    <p>The author of this blog is a Ruby Developer based in Singapore. Works at <a href="http://www.wego.com" target="_blank">Wego.com</a>, dabbles in <a href="http://www.ruby-lang.org">Ruby</a>, <a href="http://couchdb.apache.org/">CouchDB</a> and anything new and shiny (shininess is mandatory).</p>
    <p>Loves Mac OS X and the iPhone.</p>
    <p>Supports Manchester United and is a fan of Mohanlal, Quentin Tarantino, The Coen Brothers and Seth Rogen.</p>
    <p>Mostly listens to Indian music, but loves The Beatles, The Doors, Guns n' Roses and Dire Straits.</p>
    
    <p id="rss_subscribe">
      <a href="http://feeds.feedburner.com/mclovin">Subscribe to mclov.in</a>
    </p>
  </div>
  
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9579915-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
