---
layout: default
---
<div class="post">
  {{ content }}

  <div id="tweet-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="iamclovin">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div id="comments">
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/mclovinsblog/embed.js"></script><noscript><a href="http://mclovinsblog.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>


<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts-summary">
    {% for post in site.related_posts limit:3 %}
      <li><span class="meta">{{ post.date | date_to_string }} &mdash; </span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
